@use "../SCSS/" as *;

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    width: 100%; 
}

.content {
    padding: .5rem 1rem;
    
    .header-title {
        font-size: 32px;
        margin: .5rem 0;
    }

    .abouts {
        text-align: justify;
    }
}

.cta-btns {
    display: flex;
    justify-content: space-between;

    .cta-btn {
        padding: .7rem 1rem;
        border-radius: .5rem;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 1rem;
        background-color: $accent;
        color: $secondary;
    }

    .btn-resume:hover,.btn-contact:hover {
        transform: scale(110%);
    }
}

@media (min-width: 768px) {
    .cta-btns {
        justify-content: start;
        
        .cta-btn {
            background-color: $accent;
            color: $secondary;
            margin-right: 1rem;
        }
    }
}



@media (min-width: 768px) {
    .the-video {
        position: relative;
        
        .content {
            border-radius: 1rem;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            max-width: 450px;
            max-height: 420px;
            background: rgba(33, 36, 40, .6);
            padding: 2rem;
            animation: fadeFromLeft 1s ease-in forwards;
            
            @keyframes fadeFromLeft {
                from {
                    opacity: 0;
                    transform: translateY(-100%);
                  }
                  to {
                    opacity: 1;
                    transform: translateX(0);
                  }
            }
            
            h1 {
                font-size: 32px;
                margin-right: 5rem;
            }

            p {
                text-align: justify;
                margin-bottom: 1rem;
            }
        
        }

        @media (min-width: 1080px){
            .content {
                max-width: 547px;
                max-height: 420px;
                bottom: 3rem;
                left: 3rem;
                
                h1 {
                    font-size: 50px;
                    margin: auto;
                    margin-bottom: 1rem;
                }
            }

        }
    }
}


.accentuate {
    color: $accent;
}