@use "../SCSS/" as *;

.skills-section {
  .divider {
    height: 110px;
    background-image: url(/src/assets/images/mobile-divider.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    .divider {
      margin: 0;
      width: 100%;
      background-image: url(/src/assets/images/dekstop-divider.svg);
      background-size: 100%;
    }
  }

  .contents {
    margin: 5rem 0;
    .skills-set {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 1.5rem;

      p {
        font-family: $poppins;
        font-size: 1.5rem;
        margin-top: 1rem;
      }

      img {
        width: 100px;
      }
    }

    @media (min-width: 768px) {
      .section-title {
        text-align: start;
      }

      .skills-set {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
    }

    @media (min-width: 1080px) {
      .skills-set {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
    }

    .skill-item {
      border-radius: 1rem;
      padding: 1rem;
      text-align: center;
      position: relative;

      box-shadow: 15px 15px 25px -5px rgba(0, 0, 0, 0.3),
        -5px -5px 20px -5px rgba(196, 207, 222, 0.3);
    }

    .skill-item:hover {
      // box-shadow: inset 10px 10px 15px -3px rgba(0, 0, 0, 0.2),
      //   inset -10px -10px 15px -5px rgba(255, 255, 255, 0.1);
      color: white;
      background-image: linear-gradient(
        315deg,
        hsl(225deg 100% 9%) 60%,
        hsl(224deg 66% 17%) 96%,
        hsl(224deg 32% 25%) 100%
      );
    }

    // .skill-item:hover {
    //     transform: translateY(-5%);
    //     transition: transform ease-in 300ms;
    // }
  }
}
