@use "../SCSS/" as *;

.contact {
  margin-top: 10rem;
}

label {
  cursor: pointer;
}

.contact-wrapper {
  display: flex;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 1080px) {
    align-items: start;
    flex-direction: row;
  }

  .contact-card {
    box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2),
      -10px -10px 15px -5px rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    width: 100%;
    padding: 1.5rem;

    @media (min-width: 1080px) {
      width: 65%;
      height: 830px;
    }

    .contact-image {
      overflow: hidden;
      border-radius: 0.5rem;

      img {
        transition: transform 0.3s ease-in-out;
        border-radius: 0.5rem;
        width: 100%;
      }
    }

    h2 {
      font-size: 2rem;
      padding: 2rem 0 0 0;
    }

    .contact-text {
      padding: 1rem 0;
    }

    p {
      font-size: 1.5rem;
      margin: 0.5rem 0;

      a {
        color: $secondary;
        font-weight: 700;
      }

      a:hover {
        color: $accent;
      }
    }

    .find-me {
      font-family: $montserrat;
      text-transform: uppercase;
      font-size: 1rem;
      margin: 1rem 0;
    }

    .social-icons {
      padding-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3rem 0 0 0;

      @media (min-width: 768px) {
        display: block;
      }

      a {
        color: $secondary;
        font-size: 2rem;
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.2),
          -5px -5px 15px -5px rgba(255, 255, 255, 0.1);
      }

      a:hover {
        color: $accent;
        background-image: linear-gradient(
          315deg,
          hsl(225deg 100% 9%) 60%,
          hsl(224deg 66% 17%) 96%,
          hsl(224deg 32% 25%) 100%
        );
      }

      .github {
        margin-right: 2rem;
      }
    }
  }

  .contact-card:hover {
    img {
      transform: scale(1.5);
    }
  }
  .contact-form {
    box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2),
      -10px -10px 15px -5px rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    margin-right: auto;
    margin-top: 3rem;

    @media (min-width: 1080px) {
      margin-top: auto;
      margin-left: 2rem;
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    label {
      font-family: $montserrat;
      text-transform: uppercase;
      color: $secondary;
      margin: 1rem 0;
    }

    input {
      border-radius: 0.5rem;
      border: 1px solid;
      border-image: linear-gradient(
        315deg,
        hsl(225deg 100% 9%) 60%,
        hsl(224deg 66% 17%) 96%,
        hsl(224deg 32% 25%) 100%
      );
      border-image-slice: 1;
      font-family: $poppins;
      color: $secondary;
      padding: 1rem;
      min-width: 100%;
      margin: 1rem 0;
      background-color: $primary;
      background-image: linear-gradient(
        153deg,
        hsl(225deg 100% 9%) 1%,
        hsl(224deg 66% 17%) 96%,
        hsl(224deg 32% 25%) 100%
      );

      &:focus {
        outline: 1px solid $accent;
        transition: outline 0.2s ease-in;
      }
    }

    textarea {
      resize: none;
      font-family: $poppins;
      font-size: 1rem;
      padding: 1rem;
      background-color: $primary;
      width: 100%;
      color: $secondary;
      border-radius: 0.5rem;
      border: 1px solid;
      border-image: linear-gradient(
        315deg,
        hsl(225deg 100% 9%) 60%,
        hsl(224deg 66% 17%) 96%,
        hsl(224deg 32% 25%) 100%
      );
      border-image-slice: 1;
      background-image: linear-gradient(
        153deg,
        hsl(225deg 100% 9%) 1%,
        hsl(224deg 66% 17%) 96%,
        hsl(224deg 32% 25%) 100%
      );
    }

    textarea:focus {
      outline: 1px solid $accent;
      transition: outline 0.5s ease-in;
    }

    button {
      width: 100%;
      padding: 1rem;
      border: none;
      outline: none;
      background: $primary;
      box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2),
        -10px -10px 15px -5px rgba(255, 255, 255, 0.1);
      color: $secondary;
      border-radius: 0.5rem;
      margin-top: 3rem;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 700;
    }

    button:hover {
      transform: translateY(-10%);
      box-shadow: inset 10px 10px 15px -3px rgba(0, 0, 0, 0.2),
        inset -10px -10px 15px -5px rgba(255, 255, 255, 0.1),
        10px 10px 15px -3px rgba(0, 0, 0, 0.2),
        -10px -10px 15px -5px rgba(255, 255, 255, 0.1);

      .arrow {
        visibility: visible;
        margin-left: 1rem;
        transition: margin-left 0.5s ease-in-out;
      }
    }

    .arrow {
      visibility: hidden;
      margin-left: 0rem;
    }
  }
}
