@use "../SCSS/" as *;

header {
  backdrop-filter: blur(10px);
  background: rgba(33, 36, 40, 0.4);
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2),
    -10px -10px 15px -5px rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  max-width: 100vw;
  width: 100%;
  position: sticky;
  top: 0;
  overflow-x: visible;
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    
    img {
      margin-right: .5rem;
      width: 35px;

      @media (min-width:768px) {
        width: 35px;
      }

      @media (min-width:1080px) {
        width: 50px;
      }
    }
    .logo {
      font-size: 1.5rem;
      color: $secondary;
      span {
        color: $accent;
      }
    }
}

  .nav-button {
    font-size: 1.5rem;
    outline: none;
    border: none;
    background: none;
    color: $secondary;
    cursor: pointer;
  }

  .close {
    padding: 1.5rem;
    display: flex;
    margin-left: auto;
  }

  .open {
    margin-left: 0.5rem;
  }

  .logo-container {
    a {
      color: $secondary;
    }
  }

  .nav-container {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100vh;
    width: 100vw;
    transition: transform 0.3s ease-in-out;

    .nav-list {
      li {
        padding: 2rem;
        border-bottom: 1px solid $secondary;
        border-left: none;
        border-right: none;
        a {
          padding: 2rem;
          color: $secondary;
        }
      }

      li:hover {
        background-color: $secondary;

        a {
          color: $primary;
        }
      }

      @media (min-width: 768px) {
        li {
          padding: 1rem;
          border: none;

          a { 
            padding: 1rem;
          }
        }

        li:hover {
          background-color: transparent;
          a {
            color: $accent;
            transform: translateY(-10%);
            transition: translate 300ms ease-in;
          }
        }
      }

      .from-right.active {
        animation: fadeInRight 0.75s ease-in forwards;
      }

      @keyframes fadeInRight {
        from {
          opacity: 0;
          transform: translateX(100%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .from-left.active {
        animation: fadeInLeft 0.75s ease-in backwards;
      }

      @keyframes fadeInLeft {
        from {
          opacity: 0;
          transform: translateX(-100%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  @media (min-width: 768px) {
    .nav-container {
      position: static;
      height: auto;
      width: auto;
      transform: translateX(0);
    }

    .nav-list {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav-button {
      display: none;
    }
  }

  .nav-container.active {
    transform: translate(0%);
    backdrop-filter: blur(1rem);
    background: rgba(33, 36, 40, 0.9);
    width: 100vw;
  }

  .social-icons {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $secondary;
      margin: 0rem 0.5rem;
      border-radius: 1rem;
    }

    a:hover {
      color: $accent;
      transform: translateY(-10%);
      transition: translate 300ms ease-in;
    }
  }
}

@media (min-width: 768px) {
  .nav-container {
    position: sticky;
  }
}
